:root {
  --praimeri-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196F3;
  --white-color: #ffffff;
  --backgraund-section-color: #F5F4FA;
  --hero-footer-background-color: #2F303A;
  --icon-color: #AFB1B8;
  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.phone, .nav__list, .auto, .address__list, .button__list, .promo__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation, .footer__container, .portfolio__container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .navigation, .footer__container, .portfolio__container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .navigation, .footer__container, .portfolio__container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .navigation, .footer__container, .portfolio__container {
    width: 1200px;
  }
}

.logo, .footer__logo {
  font-family: Raleway, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.19;
  text-decoration: none;
}

.address__item {
  width: 270px;
  margin-right: 30px;
}

body {
  background-color: #fff;
  color: var(--praimeri-text-color);
  font-family: Roboto, sans-serif;
  font-size: 16px;
  letter-spacing: 0.03em;
  margin: 0;
}

button {
  font-family: inherit;
}

li {
  list-style: none;
}

a {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.navigation {
  display: flex;
  align-items: center;
  position: relative;
  min-height: 60px;
}

@media screen and (max-width: 767px) {
  .navigation {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .navigation {
    max-height: 80px;
  }
}

.nav {
  align-items: center;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .nav {
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .nav {
    margin-left: 93px;
  }
}

.logo {
  color: #000;
  border: none;
}

span {
  color: var(--accent-color);
}

.mobile {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  opacity: 0;
  pointer-events: none;
}

.mobile.is-open {
  opacity: 1;
  pointer-events: visible;
  z-index: 1;
}

.mobile__nav {
  display: flex;
  padding: 10px 15px;
}

@media screen and (max-width: 767px) {
  .mobile__nav {
    margin-left: auto;
    margin-right: auto;
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .mobile__nav {
    display: none;
  }
}

.mobile__logo {
  font-family: Raleway;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.67;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--praimeri-text-color);
  text-decoration: none;
}

.mobile__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow-y: auto;
}

.mobile__button {
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
}

.mobile__menu {
  position: absolute;
  top: 10px;
  right: 15px;
}

.mobile__button .mobile__menu {
  display: block;
  z-index: 1;
}

.mobile__icon--cross {
  display: none;
}

.mobile__button.is-open .mobile__icon--cross {
  display: block;
}

.mobile__button.is-open .mobile__icon--menu {
  display: none;
}

.mobile__list {
  font-size: 40px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.02em;
  text-align: left;
  margin: 0;
  padding: 0;
}

.mobile__item {
  margin-bottom: 32px;
}

.mobile__link {
  text-decoration: none;
  color: var(--praimeri-text-color);
}

.mobile__link--current {
  color: var(--accent-color);
}

.phone__item--first {
  margin-bottom: 32px;
}

.phone__link {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.67;
  letter-spacing: 0.02em;
  text-align: left;
  color: #757575;
  text-decoration: none;
}

.phone__link--current {
  font-size: 34px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile__flex {
  display: flex;
  margin-top: 32px;
  flex-wrap: wrap;
}

.mobile__network {
  border-left: 1px solid rgba(33, 33, 33, 0.2);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

.mobile__network:first-child {
  border: none;
}

.mobile__icon {
  color: var(--accent-color);
  text-decoration: none;
}

.nav__list {
  padding-top: 32px;
  padding-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .nav__list {
    display: flex;
  }
}

.nav__item {
  display: block;
  margin-right: 50px;
  color: var(--praimeri-text-color);
}

.nav__item:last-child {
  margin-right: 0;
}

.auto__item {
  display: block;
  margin-right: 30px;
  color: var(--praimeri-text-color);
}

.auto__item:last-child {
  margin-right: 0;
}

.nav__link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-align: left;
  text-decoration: none;
  color: #212121;
  transition: color var(--animation);
}

.nav__link--current {
  color: var(--accent-color);
  position: relative;
}

.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
}

.nav__link--current::after {
  content: "";
  position: absolute;
  left: 0;
  top: 45px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

@media screen and (max-width: 480px) {
  .nav__link--current::after {
    display: none;
  }
}

.auto {
  align-content: center;
}

@media screen and (min-width: 1200px) {
  .auto {
    display: flex;
  }
}

.auto__link {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-align: left;
  text-decoration: none;
  color: var(--title-text-color);
  fill: var(--title-text-color);
  transition: color var(--animation);
}

.auto__link:hover, .auto__link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .auto__link {
    font-size: 14px;
  }
}

.auto__envelope {
  margin-right: 10px;
  padding: 0;
  margin-top: 2px;
  transition: fill var(--animation);
}

.auto__envelope:hover, .auto__envelope:focus {
  fill: var(--accent-color);
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .auto__envelope {
    width: 16px;
    height: 12px;
  }
}

.auto__smartphone {
  margin-right: 10px;
  padding: 0;
  transition: fill var(--animation);
}

.auto__smartphone:hover, .auto__smartphone:focus {
  fill: var(--accent-color);
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .auto__smartphone {
    width: 10px;
    height: 16px;
  }
}

.nav__link:last-child,
.auto__link:last-child {
  margin-right: 0;
}

.header {
  border: 1px solid #ececec;
}

.footer {
  background-color: var(--hero-footer-background-color);
}

.footer__container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__box {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer__box {
    text-align: left;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .footer__tab {
    display: flex;
    justify-content: space-around;
  }
}

.footer__logo {
  color: var(--white-color);
}

.address__list :first-child {
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .address__list {
    width: 231px;
  }
}

.address__link {
  margin-bottom: 9px;
  color: var(--white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
  text-decoration: none;
}

.address__mail {
  margin-bottom: 9px;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
  text-decoration: none;
  transition: color var(--animation);
}

.address__mail:hover, .address__mail:focus {
  color: var(--accent-color);
}

.join {
  margin-top: 60px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .join {
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .join {
    margin-left: 60px;
  }
}

.join__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.join__list {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.join__item {
  margin: 0;
  padding: 0;
  text-align: center;
}

.join__box {
  display: inline-flex;
  width: 44px;
  height: 44px;
  margin: 16px 4px 0 4px;
  border-radius: 50%;
  transition: background-color var(--animation);
}

.join__box--first {
  margin-left: 0;
}

.join__box--footer {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color var(--animation);
}

.join__box:hover, .join__box:focus {
  background-color: var(--accent-color);
  cursor: pointer;
}

.instagram__in-footer {
  padding: 12px;
  fill: var(--white-color);
}

.send {
  margin-top: 60px;
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .send {
    margin-top: 0;
  }
}

.send__title {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: left;
  color: #FFFFFF;
  margin-bottom: 20px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .send__title {
    text-align: left;
    margin-left: 105px;
  }
}

.send__label {
  position: relative;
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .send__label {
    display: flex;
  }
}

.send__input {
  display: block;
  width: 100%;
  height: 50px;
  background-color: var(--hero-footer-background-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
}

.send__input:focus {
  color: #2196F3;
  padding: 10px 20px;
  border-color: #2196F3;
}

@media screen and (min-width: 768px) {
  .send__input {
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1200px) {
  .send__input {
    margin-right: 12px;
    max-width: 358px;
  }
}

input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  text-align: left;
  padding: 15px 16px;
  color: rgba(255, 255, 255, 0.6);
}

.send__button {
  width: 200px;
  height: 50px;
  margin-top: 20px;
  background-color: var(--accent-color);
  color: var(--white-color);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: left;
  padding: 10px 29px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .send__button {
    margin-top: 0;
  }
}

.send__icon {
  position: absolute;
  right: 28px;
  top: 80px;
}

@media screen and (min-width: 1200px) {
  .send__icon {
    top: 12px;
  }
}

.portfolio {
  padding-top: 60px;
  padding-bottom: 40px;
}

@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.portfolio__title {
  font-size: 0;
}

.button__list {
  display: flex;
  margin-top: 0;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .button__list {
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .button__list {
    margin-bottom: 50px;
  }
}

.button__item {
  margin-right: 8px;
  width: auto;
  margin-bottom: 8px;
}

.button__button {
  background-color: var(--backgraund-section-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  border-radius: 4px;
  padding: 6px 22px;
  border: 0;
  transition: color var(--animation), background-color var(--animation);
}

.button__button--activ {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.button__button:hover, .button__button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.promo__list {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) {
  .promo__list {
    margin-left: -30px;
    margin-bottom: -30px;
  }
}

.promo__item {
  position: relative;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .promo__item {
    margin-left: 30px;
    flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .promo__item {
    flex-basis: calc(100% / 3 - 30px);
  }
}

.promo__item:hover, .promo__item:focus {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  cursor: pointer;
}

.promo__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 294px;
  background: rgba(33, 150, 243, 0.9);
  opacity: 0;
  pointer-events: none;
  transform: translateY(100%);
  transition: transform var(--animation), opacity var(--animation);
}

.promo__hover:hover .promo__overlay,
.promo__hover:focus .promo__overlay {
  transform: translateY(0);
  opacity: 1;
}

.promo__content {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--white-color);
  margin: 0;
  padding: 63px 24px;
}

.promo__box {
  padding: 20px 24px;
  border: 1px solid #EEEEEE;
}

@media screen and (min-width: 768px) {
  .promo__box--first {
    padding-bottom: 54px;
  }
}

@media screen and (min-width: 1200px) {
  .promo__box--first {
    padding-bottom: 24px;
  }
}

.promo__title {
  color: #212121;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 4px;
}

.promo__text {
  line-height: 1.88;
  color: var(--title-text-color);
  margin: 0;
}
/*# sourceMappingURL=portfolio.css.map */