.footer {
    background-color: var(--hero-footer-background-color);
}

.footer__container{
    @extend %container;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer__box{
    text-align: center;

    @media screen and (min-width:1200px) {
        text-align: left; 
        display: flex;
    }
}

.footer__tab{
    @media screen and (min-width:768px) {
        display: flex;
        justify-content: space-between;
    }

}

.footer__logo {
    @extend %logo;
    color: var(--white-color);
}



.address__list{
    @extend %list;
    
   & :first-child{
    margin-top: 20px
   }

   @media screen and (min-width:1200px) {
      width: 231px;
   }
}

.address__item{
    @extend %item;
}

.address__link{
    margin-bottom: 9px;

    color: var(--white-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    text-align: left;
    text-decoration: none;
}

.address__mail {
    margin-bottom: 9px;

    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    text-align: left;
    text-decoration: none;

    transition: color var(--animation);

    &:hover,&:focus{
        color: var(--accent-color);
    }
}

.join{
    margin-top: 60px;
    text-align: center;

    @media screen and (min-width:768px) {
        margin-top: 0;
    }

    @media screen and (min-width:1200px) {
        margin-left: 60px;  
    }
}

.join__title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.join__list {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.join__item {
    margin: 0;
    padding: 0;
    text-align: center;
}

.join__box{
    display: inline-flex;
    width: 44px;
    height: 44px;
    margin: 16px 4px 0 4px;
    border-radius: 50%;
    
    transition: background-color var(--animation);

    &--first {
        margin-left: 0;
    }

    &--footer{
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        
        transition: background-color var(--animation);
    }
    
    &:hover,
    &:focus {
        background-color: var(--accent-color);
        cursor: pointer;
    }

}

.instagram__in-footer {
    padding: 12px;
    fill: var(--white-color);
}

.send {
    margin-top: 60px;
    width: 100%;

    @media screen and (min-width:1200px) {
        margin-top: 0;    
    }
}

.send__title{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: left;
    color: #FFFFFF;
    margin-bottom: 20px;
    text-align: center;

    @media screen and (min-width:1200px) {
        text-align: left;
        margin-left: 105px;
    }
}

.send__label{
    position: relative;
    margin-top: 20px;

    @media screen and (min-width:1200px) {
        display: flex;
    }
}

.send__input{
    display: block;
    width: 100%;
    height: 50px;
    background-color: var(--hero-footer-background-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    outline: none;

    &:focus{
        color: #2196F3;
        padding: 10px 20px;
        border-color: #2196F3;
    }

    @media screen and (min-width:768px) {
        max-width: 450px;
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (min-width:1200px){
        margin-right: 12px;
        max-width: 358px;
    }
                    
}

input::placeholder {

    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.03em;
    text-align: left;
    padding: 15px 16px;
    color: rgba(255, 255, 255, 0.6);
}

.send__button {
    width: 200px;
    height: 50px;
    margin-top: 20px;
    background-color: var(--accent-color);
    color: var(--white-color);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.06em;
    text-align: left;
    padding: 10px 29px;
    cursor: pointer;
    border: none;
    border-radius: 4px;

    @media screen and (min-width:1200px) {
        margin-top: 0; 
    }
}

.send__icon {
    position: absolute;
    right: 28px;
    top:80px;

    @media screen and (min-width:1200px) {
        top: 12px;    
    }
}