body {
    background-color: #fff;
    color: var(--praimeri-text-color);
    font-family: Roboto, sans-serif;
    font-size: 16px;
    letter-spacing: 0.03em;
    margin: 0;
}

button {
    font-family: inherit;
}

li {
    list-style: none;
}

a{
    margin: 0;
    padding: 0;
    width: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}