.hero {
    max-width: 1600px;
    text-align: center;
    padding-top: 118px;
    padding-bottom: 118px;

    margin: 0 auto;
    background-color: rgba(47, 48, 58, 0.4);
    background-image: url(../images/head/мобила.jpg);
    background-color: var(--hero-footer-background-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-resolution: 2dppx), (-webkit-min-device-pixel-ratio: 2),(min-device-pixel-ratio: 2) {
        background-image: url(../images/head/мобила2.jpg);
    }

    @media (min-resolution: 3dppx),(-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
        background-image: url(../images/head/мобила3.jpg);
    }

    @media screen and (min-width:768px) {
        background-image: url(../images/head/таблетка.jpg);

        @media (min-device-pixel-ratio: 2),(-webkit-min-device-pixel-ratio: 2),(min-resolution: 2dppx) {
            background-image: url(../images/head/таблетка2.jpg);
        }

        @media (min-device-pixel-ratio: 3),(min-resolution: 3dppx),
            (-webkit-min-device-pixel-ratio: 3) {
            background-image: url(../images/head/таблетка3.jpg);
        }
    }

    @media screen and (min-width:1200px) {
        padding-top: 200px;
        padding-bottom: 200px;
        background-image: url(../images/head/comp.jpg);

        @media (min-device-pixel-ratio: 2),(min-resolution: 2dppx),
        (-webkit-min-device-pixel-ratio: 2){
            background-image: url(../images/head/comp2.jpg);
        }

        @media (min-device-pixel-ratio: 3),(min-resolution: 3dppx),
            (-webkit-min-device-pixel-ratio: 3) {
            background-image: url(../images/head/comp3.jpg);
        }
    }
}

.hero__description{
    margin: 0 auto;
    max-width: 360px;

    @media screen and (min-width:1200px) {
        max-width: 696px;
    }
}

.hero__title {
    color: var(--white-color);
    font-size: 26px;
    font-weight: 900;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 30px;

    @media screen and (min-width:1200px) {
        font-size: 44px;
        line-height: 1.36;
    }
}

.hero__buttons {
    border-radius: 4px;
    padding: 10px 32px;
    border: 0;


    color: var(--white-color);
    background-color: var(--accent-color);
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
}