.navigation {
    @extend %container;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    min-height: 60px;

    @media screen and(max-width:767px) {
        display: none;
    }
}

.nav {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}


.logo{
    @extend %logo;
    color: #000;
    margin-right: 93px;
    border: none;

}

span {
    color: var(--accent-color);
}

.mobile{
    display: none;

    .mobile__button.is-open & {
        
        position: fixed;
        left: 0;
        top: 0;
        background-color: #fff;
        width: 100vw;
        height: 100vh;
        padding: 48px 40px;
    }
}

.mobile__nav{
    display: flex;

    @media screen and(min-width:768px){
        display: none;
    }
}

.mobile__container{}


.mobile__button{
    
    margin-left: auto;
    padding: 0;
    border: none;
    background-color: transparent;

}

// .mobile__menu{
   
// }

.mobile__icon--cross{
    display: none;

    .mobile__button.is-open &{
        display: block;
    
    }
}

.mobile__icon--menu{
    .mobile__button.is-open & {
        display: none;
    }
}

.mobile__list{

}

.mobili__item{

}

.phone{

}

.phone__item{

}

.phone__link{

}

.nav__list{
    @extend %list;
    padding-top: 32px;
    padding-bottom: 32px;

    @media screen and (min-width:768px) {
        display: flex;
    }
}

.nav__item{
    display: block;
    margin-right: 50px;
    color: var(--praimeri-text-color);
    
    &:last-child{
        margin-right: 0;
    }

}
.auto__item{
    display: block;
    margin-right: 30px;
    color: var(--praimeri-text-color);

    &:last-child{
        margin-right: 0;
    }
}

.nav__link{
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-align: left;
    text-decoration: none;
    color: #212121;

    transition: color var(--animation);

    &--current {
        color: var(--accent-color);

        position: relative;
    }

    &:hover,
    &:focus {
        color: var(--accent-color);
    }

}


.nav__link--current::after {
    content: "";
    @media screen and(max-width:480px) {
            display: none;
        }

    position: absolute;
    left: 0;
    top: 45px;

    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
}


.auto{
    @extend %list;
    align-content: center;

    @media screen and(min-width:1200px){
        display: flex;
    }
}

.auto__link{
    font-size: 12px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-align: left;
    text-decoration: none;
    color: var(--title-text-color);

    fill: var(--title-text-color);

    transition: color var(--animation);

    &:hover,
    &:focus {
        color: var(--accent-color);
        fill: var(--accent-color);
    }
}

.auto__envelope {
    margin-right: 10px;
    padding: 0;
    margin-top: 2px;

    transition: fill var(--animation);

    &:hover,
    &:focus {
        fill: var(--accent-color);
        cursor: pointer;
    }
}

.auto__smartphone {
    margin-right: 10px;
    padding: 0;

    transition: fill var(--animation);

    &:hover,
    &:focus {
        fill: var(--accent-color);
        cursor: pointer;
    }
}

.nav__link:last-child,
.auto__link:last-child{
    margin-right: 0;
}

.header {
    border: 1px solid rgba(236, 236, 236, 1)
}