.team {
    @extend %section;
    background-color: var(--backgraund-section-color);
}

.team__box{
    @extend %container;
}

.team__title{
    @extend %section-title;
}

.person__list {
    @extend %list;

    @media screen and (min-width:768px) {
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
    }
}

.person__item {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    background-color: var(--white-color);
    margin-bottom: 30px;
    
    @media screen and (min-width:768px) {
        flex-basis: calc(100% / 2 - 30px);
        margin-left: 30px;
    }
    
    @media screen and (min-width:1200px) {
        flex-basis: calc(100% / 4 - 30px);
    }
}

.person__photo{
    width: 100%;
    height: auto;

}

.person__name {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

.person__text {
    font-family: Roboto;
    line-height: 1.19;
    text-align: center;
    color: var(--title-text-color);
    margin: 0;
}

.flex{
    display: flex;
    justify-content: center;
}

.network__list {
    
    width: 44px;
    height: 44px;
    margin: 16px 4px 30px 4px;
    background-color: #fff;
    border-radius: 50%;
  
    

    transition: background-color var(--animation);

    &--first{
        margin-left: 25px;
    }

    &:hover, &:focus{
        background-color: var(--accent-color);
        cursor: pointer;
    }
}

.instagram {
    fill: var(--icon-color);
    padding: 12px;

    transition: fill var(--animation);

    &:hover, &:focus{
        fill: var(--white-color);
    }
}